.form-container{
    position: absolute;
    bottom: 0;
    background-color: #b8b8b877;
    height: 10svh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #0E70A2;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input{
    padding-left: 5%;
    width: 80vw;
    height: 7svh;
    border-radius: 50px;
    background-color: #ffffff;
    border: 2px solid #787777;
    font-size: 1.2rem;
  &:focus {
    outline: none;
    
  }
}

.submitBtn{
    margin-left: 2px;
    height: 7svh;
    width: 7svh;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon{
        font-size: 2rem;
        color: #0E70A2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}