.container{
    height: 100svh;
    width: 100vw;
    background-color: #DDE3E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.text{
    line-height: 120%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: lighter;
    color: #0E70A2;
    margin-bottom: 2rem;
}

.form{
    padding: 1rem;
    height: 6.5svh;
    border-radius: 50px;
    background-color: #ffffff;
    border: 2px solid #787777;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input{
    padding-left: 5%;
    flex-grow: 2;
    background-color:transparent;
    border: none;
    font-size: 1.2rem;
  &:focus {
    outline: none;
  }
  color: black;
  &::placeholder{
    color: black;
  }
}

.submitBtn{
    border-radius: 25px;
    padding-right: 0.5rem;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem;

    mat-icon{
        color: #0E70A2;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}